﻿<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="~/css/main.css" rel="stylesheet" type="text/css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <title>@ViewData["Title"]</title>
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand">Competitive Eaters - The Top Four</a>
                </div>
                <ul class="navbar navbar-nav">
                </ul>
            </div>
        </nav>
        <ul style="list-style: none; text-align: center" class="col-xs-12">
            <li><a href="http://www.majorleagueeating.com/rankings.php?action=detail&sn=106" class="list-group-item col-xs-12" target="_blank">Joey</a></li>
            <li><a href="http://www.majorleagueeating.com/rankings.php?action=detail&sn=250" class="list-group-item col-xs-12" target="_blank">Carmen</a></li>
            <li><a href="http://www.majorleagueeating.com/rankings.php?action=detail&sn=203" class="list-group-item col-xs-12" target="_blank">Matt</a></li>
            <li><a href="http://www.majorleagueeating.com/rankings.php?action=detail&sn=240" class="list-group-item col-xs-12" target="_blank">Geoff</a></li>
        </ul>
        <div class="col-xs-12">
            <a href="http://www.majorleagueeating.com/rankings.php?action=detail&sn=106" target="_blank">
                <img class="col-xs-3 img-circle" src="https://peopledotcom.files.wordpress.com/2017/07/joey-chestnut-hot-dogs-2.jpg?w=2000&h=1333" alt="Joey Chestnut" />
            </a>
            <a href="http://www.majorleagueeating.com/rankings.php?action=detail&sn=106" target="_blank">
                <img class="col-xs-3 img-circle" src="https://belowthebeltsportscom.files.wordpress.com/2017/07/carmen-cincotti-pic.jpg?w=640" alt="Carmen Cincotti" />
            </a>
            <a href="http://www.majorleagueeating.com/rankings.php?action=detail&sn=106" target="_blank">
                <img class="col-xs-3 img-circle" src="https://media.gq.com/photos/56abc54e00846cff09be59ca/16:9/pass/how-i-got-my-body-gq-0216-11.jpg" alt="Matt Stonie" />
            </a>
            <a href="http://www.majorleagueeating.com/rankings.php?action=detail&sn=106" target="_blank">
                <img class="col-xs-3 img-circle" src="http://www.telegram.com/storyimage/WT/20160718/NEWS/160719129/AR/0/AR-160719129.jpg" alt="Geoffrey Esper" />
            </a>
        </div>
       @RenderBody()
    </body>
</html>